set show-all-if-ambiguous On
set completion-ignore-case on

set editing-mode vi
set keymap vi-insert

# cycle through completions
"\C-a": menu-complete

# glob patterns without executing, eg: 'rm *x'
"\C-e": glob-expand-word

# search forward too
"\C-f": forward-search-history
